In [4]:

import pandas as pd
import numpy as np

path = r"D:\WORK\FLOODNET\WatchData\FloodWatch_Airtable\Airtable_Survey_wPhotoLinks.csv"

df = pd.read_csv(path)

df.head()

,S123_Object_ID,unique_id,Date,Address,Neighborhood,Latitude,Longitude,Contact,Event,Source,Approx. Depth,What is affected by the flood waters?,What are additional causes of flooding?,Weather,Additional Comments,May we contact you in the future for any of the following reasons?,Photo
0,NaN,2,9/10/2018 9:50,Davenport Court,Howard Beach/ Hamilton Beach,40.6534008,-73.830255,B. Kissane,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,414697~1.JPG (https://v5.airtableusercontent.c...
1,NaN,3,9/10/2018 22:35,First Street,Howard Beach/ Hamilton Beach,40.6541251,-73.830871,G. Ohringer,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,First Street; 9_10_2018; Night Tide _ G Ohring...
2,NaN,4,9/10/2018 23:35,Davenport Court,Howard Beach/ Hamilton Beach,40.6534843,-73.830255,C. O'Dea,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,Davenport Court _ Charlene O'Dea 1135PM _USED....
3,NaN,5,9/10/2018 23:35,Rau Court,Howard Beach/ Hamilton Beach,40.6539708,-73.829887,C. O'Dea,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,Rau Court _ C O'Dea 1135PM.jpg (https://v5.air...
4,NaN,6,9/25/2018 9:45,Davenport Court,Howard Beach/ Hamilton Beach,40.6534572,-73.829909,C. O'Dea,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,"""Davenport Court, Tuesday morning at 9_45 Sept..."

In [42]:
import requests
import os
import time

image_path = r'D:\WORK\FLOODNET\WatchData\FloodWatch_Airtable\Airtable_Photos'

def download_image(image_url, image_name):
    img_data = requests.get(image_url).content
    with open(image_name, 'wb') as handler:
        handler.write(img_data)


for i,r in df.iterrows():

    if i > 483:
        photo_links = r['Photo']

        if not pd.isna(r['Photo']):

            photo_links = [i for i in r['Photo'].split( "," ) if "airtableuser" in i]
            unique_id = r['unique_id']

            for count,link in enumerate(photo_links):
                single_link = link.replace( '(1)' , '' )
                single_link = single_link.split( "(")[1].split( ")")[0]
                download_image( single_link , os.path.join( image_path , f"{unique_id}-{count}.jpg") )

        time.sleep(0.1)

print( "done" )

done

In [41]:
single_link

'1'